<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tasks"></ion-back-button>
    </ion-buttons>
    <ion-title>Task</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="loadedTask; else elseBlock">
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1 text-center >{{loadedTask.Title}}</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h2>{{loadedTask.Description}}</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h2>Left days: {{loadedTask.LeftDays}} </h2>
      </ion-col>
    </ion-row>


    <ion-row>

      <ion-col>
        <ion-button (click)="buttonSuccess()">
          <ion-icon name="checkmark-outline" slot="start"></ion-icon>Done
        </ion-button>
      </ion-col>

      <ion-col>
        <ion-button fill="outline" color="danger" (click)="buttonFailed()">
          <ion-icon name="close-outline" slot="start"></ion-icon>Failed
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>

<ng-template #elseBlock>Loading..</ng-template>
