<ion-header translucent="true">
  <ion-toolbar color="primary">
    <ion-buttons collapse="true" slot="start">
      <ion-icon name="arrow-back" (click)="goBack()"></ion-icon>
    </ion-buttons>
    <ion-title>My tasks</ion-title>
    <ion-buttons collapse="true" slot="end">
      <ion-icon name="add-outline" (click)="goToAddTask()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ng-container *ngIf="tasks; else elseBlock">
    <app-task-item  *ngFor="let task of tasks | async " [taskItem]="task" ></app-task-item>
    </ng-container>
  </ion-list>

  <div class="ion-padding">
    <ion-button expand="block" type="submit" class="ion-no-margin" (click)="goToAcc()">Accomplished</ion-button>
  </div>

  <div class="ion-padding">
    <ion-button expand="block" color="danger" class="ion-no-margin" (click)="goToFailed()">Failed</ion-button>
  </div>

</ion-content>

<ng-template #elseBlock>Loading..</ng-template>
