<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Best planner in universe</ion-card-subtitle>
      <ion-card-title>My Planner</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      You want to organize your life? This app will help you! Use this app and we guarantee you will
      get your life together
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-item>
      <ion-icon name="book" slot="start"></ion-icon>
      <ion-label>View your plans</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
    <br>
  
    <ion-card-content>
      When you feel comfortable enough start by making your first plan!
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-item (click)="myprofile()">
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label>My Profile</ion-label>
    </ion-item>
  
    <ion-item href="#">
      <ion-icon name="add-circle" slot="start"></ion-icon>
      <ion-label>Make a Plan</ion-label>
    </ion-item>
  
    <ion-item (click)="Logout()">
      <ion-icon name="close-circle" slot="start"></ion-icon>
      <ion-label *ngIf="userDetails">Logout {{userDetails.firstName}}</ion-label>
    </ion-item>
  </ion-card>


</ion-content>
