<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons collapse="true" slot="start">

        <ion-icon name="arrow-back" (click)="goBack()"></ion-icon>

    </ion-buttons> 
    <ion-title>Register</ion-title>  
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
      
        <ion-list lines="full" class="ion-no-margin ion-no-padding">
          <ion-item>
            <ion-label position="stacked">First Name <ion-text color="danger">*</ion-text></ion-label>
            <ion-input type="text" [(ngModel)]="firstName" text-right id="input" ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Last Name <ion-text color="danger">*</ion-text></ion-label>
            <ion-input type="text" [(ngModel)]="lastName" text-right id="input" ></ion-input>
          </ion-item>
        
          <ion-item>
            <ion-label position="stacked">Username <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input type="text" [(ngModel)]="username" text-right id="input" ></ion-input>
          </ion-item>
    
          <ion-item>
            <ion-label position="stacked">Password <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input type="password" [(ngModel)]="password" text-right id="input" ></ion-input>
          </ion-item>
    
          <ion-item>
            <ion-label position="stacked">Confirm password <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input type="password" [(ngModel)]="confirmedPass" text-right id="input" ></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-label position="floating">Age</ion-label>
            <ion-input type="number" [(ngModel)]="age"></ion-input>
          </ion-item>
        </ion-list>

        <div class="ion-padding">
          <ion-button (click)="onsubmit()" expand="block" type="submit" class="ion-no-margin">Create account</ion-button>
        </div>

    </ion-content>
